.imageSize {
  height: 60px;
  width: 60px;
  border-radius: 10px;
}

.line {
  border-bottom: 6px solid gray;
  width: 90vh;
  position: relative;
  border-radius: 10px   ;
}

.LineDark {
    border-bottom: 6px solid;
    width: 65%;
    position: absolute;
    border-radius: 10px   ;
}
