
.sidenav{
  display:block ;
}

.ImgCurcle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.mail {
  font-size: 12px;
}

@media only screen and (max-width: 575px) {
  .homeApp .sidenav {
      display:none ;
  }

}
  .MiniSideNav{
    display: none;
    cursor: pointer;
  }
